ion-slides {
  width: 80%;
  border: 1px solid red;
}

.md ion-slides  {
  height: 68%;
}

.ios ion-slides {
  height: 55%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h1 {
  margin-top: 10px;
  font-weight: 600;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 90%;
  margin: 25px 0 20px;
  pointer-events: none;
}

p {
  padding: 0 30px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #b3b7be);
}

b {
  font-weight: 500;
}

p b {
  color: var(--ion-text-color, #000000);
}